@font-face {
  font-family: myFirstFont;
  src: url(soehne-web-buch.woff);
}

body {
  font-family: myFirstFont; 
  z-index: 1;
}
.nav-links {
  text-align: left;
  padding-left: 1%;
  font-weight: normal;
  font-size: 2.5vw;
  border-style: none none solid none;
  border-bottom-width: .5px;
}

h1 {
  font-family: myFirstFont;
   text-align: center;
  font-weight: normal;
}

.modal,
.tab__content {
  display: none;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: black;
  font-family: myFirstFont;
  text-decoration-line: none;
}

.tabs a {
  color: black;
  font-family: myFirstFont;
  text-decoration-line: none;
  text-align: left;
  padding-left: 1%;
  font-weight: normal;
  font-size: 2.5vw;
}

/* css grids */
   h2 {
   
  font-weight: normal;
  font-size: 2.5vw;
  display: inline
   }

     h3 {
   
  font-weight: normal;
  font-size: 2vw;
  display: inline;
   }
    .cssgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

.div1 { 
  grid-area: 1 / 1 / 4 / 3;
}

.div2 { 
  grid-area: 1 / 3 / 4 / 6; 
  padding-right: 5%;
}

.div3 { 
  grid-area: 1 / 4 / 4 / 6; 
  padding-right: 20%;
}

.div4 { 
  grid-area: 1 / 3 / 4 / 6; 
  padding-right: 10%;
}

.div5 { 
  grid-area: 1 / 4 / 4 / 6; 
  padding-right: 10%;
}

.stressless2 {
  width: 50vw;
}

.stressless {
  width: 55vw;
}

.location, .pricesheet {
  width: 35vw;
}

.pricesheet2 {
  width: 55vw;
}

.businesscards {
  width: 56vw;
  }

.tab {
  width: 40vw;
  display: flex;
  flex-wrap: wrap; 
}

.peoplepleaser {
  width: 50vw;
}

.one-photo {width: 40vw;}
.two-photo {width: 50vw; padding-left: 5%; padding-top: 6.6%;}
.three-photo2 {width: 33vw; padding-left: 5%;}
.three-photo, .fifteen-photo {width: 30vw; padding-left: 5%;}
.four-photo, .five-photo  {width: 36vw; padding-left: 5%;}
.six-photo, .sixteen-photo {width: 36vw; padding-left: 5%;}
.seven-photo, .fourteen-photo {width: 55vw; padding-left: 5%;}
.eight-photo, .nine-photo, .ten-photo, .eleven-photo, .twelve-photo, .thirteen-photo
{width: 55vw; padding-left: 5%;}
