* {
  box-sizing: border-box;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 5px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  position: sticky;
  display: block;
  float: left;
  padding-left: 4%;
}

.active img {
width: 20vw;
}

@font-face {
  font-family: myFirstFont;
  src: url(soehne-breit-web-fett.woff);
}

html {
  font-family: myFirstFont;
  text-align: center;
  font-size: 2vw;
  margin: 0;
  padding: 0.75em 0.25em;
  line-height: 1.8em;
}

ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50vw;
  grid-auto-flow: dense;
}
@media (min-width: 300px) {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
  }
  
}
@media (min-width: 500px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25vw;
  }
}
@media (min-width: 700px) {
  ul {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 20vw;
  }
}
@media (min-width: 900px) {
  ul {
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 15vw;
  }
}
@media (min-width: 1100px) {
  ul {
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 11vw;
  }
}

li {
  height: 100%;
  padding: 10px;
  list-style-type: none;
}

li.biggest-box {
  grid-row: span 3;
  grid-column: span 3;
}

li.highlight-box {
  grid-row: span 2;
  grid-column: span 2;
}

li.highlight-tall {
  grid-row: span 2;

}

li.highlight-tall2 {
  grid-row: span 4;
  grid-column: span 3;
}

li.highlight-tall3 {
  grid-row: span 4;
  grid-column: span 2;
}

li.highlight-wide {
  grid-column: span 3;

}

li.highlight-wide2 {
  grid-column: span 3;
  grid-row: span 2;
}


li.highlight-wide3 {
  grid-column: span 4;
  grid-row: span 2;
}
li.highlight-wide4 {
  grid-column: span 5;
  grid-row: span 3;
}


img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.warning {
  color: red;
  font-size: 200%;
}

@supports (display: grid) {
  .warning {
    display: none;
  }
}
