@font-face {
  font-family: myFirstFont;
  src: url(soehne-web-buch.woff);
}

body {
  font-family: myFirstFont; 
  z-index: 1;
}

.name {width: 40vw; z-index: 0; float: center; left; padding-left: 3%;}
.icons {width: 2vw; z-index: 0; float: left; padding-left: 1%; padding-right: 10%;}
.learnmore {width: 16vw; z-index: 0; float: right; padding-right: 1%;}
.aboutpage {width: 100vw; z-index: 0;}

.nav-links {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: normal;
  font-size: 2vw;
  border-style: none none solid none;
  border-bottom-width: .5px;
}

h1 {
  font-family: myFirstFont;
   text-align: center;
  font-weight: normal;
}

.modal, .tab__content {
  display: none;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: black;
  font-family: myFirstFont;
  text-decoration-line: none;
  font-size:2vw;
}

a:hover {
  color: black;
  font-family: myFirstFont;
  font-size: 3.5vw;
}

.tabs a {
  color: black;
  font-family: myFirstFont;
  text-decoration-line: none;
  text-align: left;
  padding-left: 1%;
  font-weight: normal;
}

/* css grids */
h2 {
  font-size: 2.5vw;
  font-weight: normal;
  display: inline;
   }

h3 {
  font-weight: normal;
  font-size: 2vw;
  display: inline;
   }

.cssgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

.div1 { 
  grid-area: 1 / 1 / 4 / 3;
}

.div2 { 
  grid-area: 1 / 3 / 4 / 6; 
  padding-right: 3%;
  
}

.ogdoc {
  width: 48vw;
}

.div3 { 
  grid-area: 1 / 4 / 4 / 6; 
  padding-right: 22%;

}

.div4 { 
  grid-area: 1 / 3 / 4 / 6; 
  padding-right: 3%;
  padding-left: 15%;
}

.div5 { 
  grid-area: 1 / 4 / 4 / 6; 
  padding-right: 10%;
}

.stressless2 {
  width: 50vw;
}

.stressless {
  width: 55vw;
}

.location {
  width: 35vw;
}
.pricesheet {
  width: 48vw;
}

.pricesheet2 {
  width: 48vw;
}

.pricesheeth2 {
  padding-left: 5%;
  display: block;
  line-height: 0em;
}

.pricesheet3 {
  padding-left: 5%;
  display: block;
  margin-bottom: 2em; 
}

.tab {
  width: 40vw;
  display: flex;
  flex-wrap: wrap; 
}

.peoplepleaser {
  width: 40vw;
}

p {
  font-size: 1vw;
}

iframe {
  width: 55vw;
  height: 40vh;
  padding-left: 5%;

}
.one-photo, .five-photo {width: 48vw; padding-right: 3%;}
.two-photo {width: 50vw; padding-left: 5%; padding-top: 6.6%;}
.three-photo2 {width: 33vw; padding-left: 5%;}
.three-photo, .fifteen-photo {width: 30vw; padding-left: 5%;}
.four-photo  {width: 36vw; padding-left: 5%;}
.six-photo, .sixteen-photo {width: 42vw; padding-left: 5%;}
.seven-photo {width: 55vw; padding-left: 5%;}
.fourteen-photo {width: 60vw; padding-left: 2%;}
.eight-photo {width: 36vw;}
.nine-photo {width: 40vw; padding-left: 10%;}
.eleven-photo, .twelve-photo, .thirteen-photo {width: 55vw; padding-left: 5%;}
.bonnti {width: 50vw;}
.bonnti2 {width: 48vw; padding-right: 2%; padding-left: 2%;}
.losres {width: 58vw; padding-left: 2%;}
.ten-photo {width: 50vw;}
.ten-photo2 {width: 37vw;}
.cusi {width: 55vw; padding-left: 3%;} 
.cusi2, .meta {width: 40vw; }
.nyl {width: 36vw;}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ebe728;
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 80px;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 9%;
  margin-bottom: 12%;

}

.overlay a {
  text-decoration: none;
  font-size: 80px;
  color: black;
  display: block;
  transition: 0.2s;
}

.overlay a:hover, .overlay a:focus {
  color: #ee5da0;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 300%;
}